In [6]:
#import libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

In [74]:
#flight_df = pd.read_csv("../../data/raw/Clean_Dataset.csv")
#business_df = pd.read_csv("../../data/raw/business.csv")
#economy_df = pd.read_csv("../../data/raw/economy.csv")

cleaned_df = pd.read_csv("../../data/clean/clean_dataset_df.csv")
combined_df = pd.read_csv("../../data/clean/clean_combined.csv")

In [68]:
import sys
sys.path.append('../../utils')
import functions

In [70]:
functions.show_basic_info(cleaned_df)

DataFrame Shape: (300153, 11)
Number of Rows: 300153
Number of Columns: 11

Data Types of Columns:
airline_name            object
flight_code             object
departure_city          object
arrival_city            object
flight_duration         object
stops                    int64
price                    int64
class                   object
days_left                int64
departure_time_group    object
arrival_time_group      object
dtype: object

Missing Values per Column:
airline_name            0
flight_code             0
departure_city          0
arrival_city            0
flight_duration         0
stops                   0
price                   0
class                   0
days_left               0
departure_time_group    0
arrival_time_group      0
dtype: int64

First 5 Rows of Data:
  airline_name flight_code departure_city arrival_city flight_duration  stops  \
0     SpiceJet     SG-8709          Delhi       Mumbai         02h 10m      0
1     SpiceJet     SG-8157          Delhi       Mumbai         02h 20m      0
2     Air Asia      I5-764          Delhi       Mumbai         02h 10m      0
3      Vistara      UK-995          Delhi       Mumbai         02h 15m      0
4      Vistara      UK-963          Delhi       Mumbai         02h 20m      0

   price    class  days_left departure_time_group arrival_time_group
0   5953  Economy          1              Evening              Night
1   5953  Economy          1        Early Morning            Morning
2   5956  Economy          1        Early Morning      Early Morning
3   5955  Economy          1              Morning          Afternoon
4   5955  Economy          1              Morning            Morning

In [78]:
functions.show_basic_info(combined_df)

DataFrame Shape: (300054, 15)
Number of Rows: 300054
Number of Columns: 15

Data Types of Columns:
Unnamed: 0                int64
airline_name             object
flight_code              object
departure_city           object
arrival_city             object
flight_duration          object
stops                     int64
price                     int64
class                    object
days_left               float64
departure_time_group     object
arrival_time_group       object
flight_date              object
departure_time           object
arrival_time             object
dtype: object

Missing Values per Column:
Unnamed: 0                   0
airline_name                 0
flight_code                  0
departure_city               0
arrival_city                 0
flight_duration              0
stops                        0
price                        0
class                        0
days_left               155082
departure_time_group         0
arrival_time_group           0
flight_date                  0
departure_time               0
arrival_time                 0
dtype: int64

First 5 Rows of Data:
   Unnamed: 0 airline_name flight_code departure_city arrival_city  \
0           0    Air India      AI-868          Delhi       Mumbai
1           3    Air India      AI-624          Delhi       Mumbai
2           6    Air India      AI-531          Delhi       Mumbai
3           7    Air India      AI-839          Delhi       Mumbai
4           9    Air India      AI-544          Delhi       Mumbai

  flight_duration  stops  price     class  days_left departure_time_group  \
0         02h 00m      0  25612  Business        1.0              Evening
1         02h 15m      0  25612  Business        1.0              Evening
2         24h 45m      1  42220  Business        NaN              Evening
3         26h 30m      1  44450  Business        1.0                Night
4         06h 40m      1  46690  Business        NaN            Afternoon

  arrival_time_group flight_date departure_time arrival_time
0            Evening  2022-02-11          18:00        20:00
1              Night  2022-02-11          19:00        21:15
2            Evening  2022-02-11          20:00        20:45
3              Night  2022-02-11          21:25        23:55
4              Night  2022-02-11          17:15        23:55

In [46]:
flight_df['airline'].unique()

array(['SpiceJet', 'AirAsia', 'Vistara', 'GO_FIRST', 'Indigo',
       'Air_India'], dtype=object)

In [49]:
flight_df['class'].unique()

array(['Economy', 'Business'], dtype=object)

In [76]:
cleaned_df['days_left'].unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
       35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49])

In [72]:
combined_df['days_left'].unique()

array([ 1., nan,  2.,  3.,  4.,  5.,  6.,  7.,  8.,  9., 10., 11., 12.,
       13., 15., 16., 17., 18., 19., 20., 22., 23., 24., 25., 26., 30.,
       31., 33., 34., 35., 36., 37., 38., 43., 44., 45., 46., 47., 48.,
       14., 21., 39., 27., 41., 49., 28., 29., 42., 40., 32.])

In [20]:
functions.show_data_types(flight_df)

Data Types of Columns:
Unnamed: 0            int64
airline              object
flight               object
source_city          object
departure_time       object
stops                object
arrival_time         object
destination_city     object
class                object
duration            float64
days_left             int64
price                 int64
dtype: object

In [25]:
functions.show_column_summary(flight_df)

Summary Statistics for All Columns:
           Unnamed: 0  airline  flight source_city departure_time   stops  \
count   300153.000000   300153  300153      300153         300153  300153
unique            NaN        6    1561           6              6       3
top               NaN  Vistara  UK-706       Delhi        Morning     one
freq              NaN   127859    3235       61343          71146  250863
mean    150076.000000      NaN     NaN         NaN            NaN     NaN
std      86646.852011      NaN     NaN         NaN            NaN     NaN
min          0.000000      NaN     NaN         NaN            NaN     NaN
25%      75038.000000      NaN     NaN         NaN            NaN     NaN
50%     150076.000000      NaN     NaN         NaN            NaN     NaN
75%     225114.000000      NaN     NaN         NaN            NaN     NaN
max     300152.000000      NaN     NaN         NaN            NaN     NaN

       arrival_time destination_city    class       duration      days_left  \
count        300153           300153   300153  300153.000000  300153.000000
unique            6                6        2            NaN            NaN
top           Night           Mumbai  Economy            NaN            NaN
freq          91538            59097   206666            NaN            NaN
mean            NaN              NaN      NaN      12.221021      26.004751
std             NaN              NaN      NaN       7.191997      13.561004
min             NaN              NaN      NaN       0.830000       1.000000
25%             NaN              NaN      NaN       6.830000      15.000000
50%             NaN              NaN      NaN      11.250000      26.000000
75%             NaN              NaN      NaN      16.170000      38.000000
max             NaN              NaN      NaN      49.830000      49.000000

                price
count   300153.000000
unique            NaN
top               NaN
freq              NaN
mean     20889.660523
std      22697.767366
min       1105.000000
25%       4783.000000
50%       7425.000000
75%      42521.000000
max     123071.000000

In [64]:
cleaned_df.head()

,airline_name,flight_code,departure_city,arrival_city,flight_duration,stops,price,class,days_left,departure_time_group,arrival_time_group
0,SpiceJet,SG-8709,Delhi,Mumbai,02h 10m,0,5953,Economy,1,Evening,Night
1,SpiceJet,SG-8157,Delhi,Mumbai,02h 20m,0,5953,Economy,1,Early Morning,Morning
2,Air Asia,I5-764,Delhi,Mumbai,02h 10m,0,5956,Economy,1,Early Morning,Early Morning
3,Vistara,UK-995,Delhi,Mumbai,02h 15m,0,5955,Economy,1,Morning,Afternoon
4,Vistara,UK-963,Delhi,Mumbai,02h 20m,0,5955,Economy,1,Morning,Morning

In [35]:
flight_df['source_city'].unique()

array(['Delhi', 'Mumbai', 'Bangalore', 'Kolkata', 'Hyderabad', 'Chennai'],
      dtype=object)

In [37]:
flight_df['destination_city'].unique()

array(['Mumbai', 'Bangalore', 'Kolkata', 'Hyderabad', 'Chennai', 'Delhi'],
      dtype=object)